<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      {{title}} {{copyright}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <div id="container">
      <div class="logo-container">
        <a
          href="https://www.producthunt.com/posts/pairing-matrix?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-pairing-matrix"
          target="_blank"
          ><img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=188504&theme=light"
            alt="Pairing Matrix - Pairing Matrix Generator for busy agile teams | Product Hunt Embed"
            style="width: 250px; height: 54px;"
            width="250px"
            height="54px"
        /></a>
        <img
          src="assets/images/logo-pairing-matrix.gif"
          alt="Pairing matirx logo"
          class="logo"
          (click)="toggleLogo('animated')"
          *ngIf="!useStaticLogo"
        />
        <img
          src="assets/images/icon@500px —inverse.png"
          alt="Pairing matirx logo"
          class="logo"
          (click)="toggleLogo('static')"
          *ngIf="useStaticLogo"
        />
      </div>
      <strong
        >Make a pairing matrix for your awesome team in just a few
        clicks</strong
      >
      <form (ngSubmit)="doIt()">
        <ion-grid>
          <ion-row>
            <ion-col
              size="12"
              size-md="6"
              offset-md="3"
              size-lg="8"
              offset-md="2"
            >
              <ion-input
                placeholder="{{team.names}}"
                [(ngModel)]="names"
                [ngModelOptions]="{standalone: true}"
                #inputToFocus
              ></ion-input>
            </ion-col>
            <ion-col
              size="12"
              size-md="6"
              offset-md="3"
              size-lg="8"
              offset-md="2"
            >
              <ion-button (click)="doIt()" shape="round" size="large">
                {{team.action}}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </section>
</ion-content>
